# DHCP config
dhcp-range={{ dnsmasq_dhcp_range}}
{% for option in dnsmasq_dhcp_options %}
dhcp-option={{ option }}
{% endfor %}

# Logging.
log-facility={{ dnsmasq_log_facility }}   # logfile path.
{% for option in dnsmasq_log_options %}
{{ option }}
{% endfor %}

# DHCP script
dhcp-script={{ dnsmasq_dhcp_script }}
